body {
   font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: .3vw;
}
/* Header Styling */
header {
    background-color: #ebebeb;
    padding: 1rem 2vw;   
}
header h1 {
    margin: 0;
    color: #2F4B83;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.5px;
}
header p {
    margin: .5vw;
    color: #2F4B83;
    letter-spacing: .5px;
}

/* Nav Styling */
nav {
   background-color: #708f56;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav a {
    display: flex;
    font-size: 1rem;
    text-decoration: none;
    color: #ebebeb;
    font-weight: 700;
    padding: .85rem;
}
nav li.active a {
    background-color: #2F4B83; 
        color: #ebebeb;
}

nav a:hover {
    background-color: #2f4b83;
    color: #ebebeb;
}

/* Main Styling */
main {
    padding: .5rem;
}
figure.demo {
    display: block;
    float: right;
    width: 60%;
    margin: 0 0 0 2%;
}
figure.demo img {
    width: 40%;
    height: auto;
}
figure.demo figcaption {
    width: 40%;
    font-size: .8rem;
    text-align: center;
    color: #2f4b83;
}
div.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.gallery figure{
    margin: .5rem 2% 0 0; 
}
div.gallery img {
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 300px;
    height: auto;
}
div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    color: #2f4b83;
    background-color: #ebebeb;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

main h1 {
    color: #ebebeb;
    background-color: #708F56;
    padding: .3rem;
    font-size: 1.5rem;
    font-weight: 700;
}
main h2 {
    color: #2f4b83;
}
main h3 {
    color: #2F4B83;
    font-weight: 700;
}
main p {
    color: #2f3133;
    margin: .5rem 0 .3rem .5rem;
}
main ol {
    background-color: #efefef;
    margin: .5rem 0 .3rem .5rem;
}

main ul {
    list-style-type: square;
    margin: .5rem 0 .3rem .5rem;
}
main ul li {
    margin: 0 0 .3rem .5rem;
    font-size: 1rem;
}
main dl dt {
    color: #2f4b83;
    font-weight: 700;
    margin: .3rem 0 .3rem 1rem;
}
main dl dd {
    color: #2F4B83;
}
main address {
    font-style: normal;
    background-color: #ebebeb;
    padding: .4rem;
    width: 11rem;
    border-style: solid;
    border-color: #2F4B83;
    border-radius: .3rem;
    color: #2f4b83;
}
main a {
   color: #2F4B83  
}
main a:hover {
   color: #932600; 
}

.disnform legend {
    color: #2f4b83;
    font-size: .9rem;
}

.disnform label {
    display: block;
}
.disnform fieldset {
    border: 1px solid #2F4B83;
    border-radius: 3px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

.disnform :required {
    background-color: rgba(147, 38, 0, 0.1);
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    margin: 1rem 0 0 .2rem;
}

.disnform [type=email]{
    margin: 1rem 0 0 2.6rem;
}

.disnform [type=tel] {
    margin: 1rem 0 .3rem .1rem;
}

.disnform [type=submit] {
    background-color: #708f56;
    border: none;
    border-radius: 8px;
    color: #ebebeb;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    padding: .8rem 3rem;
}

.newsform legend {
    color: #2f4b83;
    font-size: .8rem;
}

.newsform label {
    display: block;
}
.newsform fieldset {
    border: 1px solid #2F4B83;
    border-radius: 3px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

.newsform :required {
    background-color: rgba(147, 38, 0, 0.1);
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    margin: 1rem 0 0 .2rem;
}

.newsform :required :valid {
    border-bottom: rgba(112, 143, 86, 0.1);
}

.newsform [type=email] {
    margin: 1rem 0 0 2.6rem;
}

.newsform [type=submit] {
    background-color: #708f56;
    border: none;
    border-radius: 8px;
    color: #ebebeb;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    padding: .8rem 3.9rem;
    margin: 1rem 0 0 0;
}


.fbackform textarea {
    color: #2f4b83;
    font-size: .9rem;
    height: 6rem;
    width: 30vw;
    display: block;
    margin: .3rem 0 .3rem 0;
}
.fbackform [type=submit] {
    background-color: #708f56;
    border: none;
    border-radius: 8px;
    color: #ebebeb;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    padding: .8rem 3rem;
}
/* Footer Styling */
footer {
    background-color: #ebebeb;
    text-align: center;
    color: #2F4B83;
    padding: .25rem;
    font-size: 1rem;
    clear: both;
}
footer a {
    color: #2F4B83;
}
footer a:hover {
    color: #932600;
}